body {
  font-family:Arial,Helvetica,sans-serif;
  font-size: 12pt;
  background-color: #e5e5dd;
  margin: 0% 10%;
  width: 650px;
}

.menu-body {
  font-family:Arial,Helvetica,sans-serif;
  background-color: #e5e5dd;
  border-width: 0px;    
  margin: 3% 10%;
  font-size: 12pt;
  background-position: 15% 10%;
  background-repeat: no-repeat;
}

.bottom-body {
  color: #9999aa;
  font-size: 10pt;
  font-weight: bold;
  background-color: #70809a;
  margin: 5px 0%
}

.menu {
  font-size: 14pt;
  font-style: bold;
}

a {
  text-decoration: none;
}
a:link    {color: #8e8f8e;}
a:visited {color: #8e8f8e;}

p {
  line-height: 1.5em;
}


h1 {
  font-size: 24pt;
  font-weight: bold;
  color: #70809a;
}

.logo_main {
  font-size: 30pt;
  margin-bottom: -0.5em;
}

.logo_sub {
  font-size: 14pt;
  font-weight: bold;
}

h2 {
  color: #330099;
  font-size: 18pt;
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom:1px solid ;
  padding-left:1em; 
  border-left: 0.6em solid ;
  padding-bottom:0.2em; 
}

.subtitle {
  text-indent: 1em;
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #70809a;
}

h3 {
 color: #330099;
 font-size: 16pt;
}

h4 {
 color: #330099;
 font-size: 14pt;
}

ul {
 line-height: 1.5em;
}

em {
  font-weight: bold;
  font-style: normal;
}

table {
  border-color: black;
}

td {
  text-indent: 1em;
}

th {
  font-weight: normal;
  background-color: #dfdfdf;
}

hr {
  border-style: inset;
  border-color: #999985;
  border-width: 3px;
  background-color: #999985;
}

pre {
  font-size: 12pt;
  border: 1px solid gray;
  padding: 5px;
  white-space: pre;
  width: 100%;
  background-color: gray90;
}

.banner {
  font-family:Arial,Helvetica,sans-serif;    
  font-size: 12pt;
  text-align: center;
}

.contents{
  font-family:Arial,Helvetica,sans-serif;    
  background-color : #e5e5da;
  border-style: dotted;
  border-width: 3px;
  border-color: #999985;
  padding: 10pt;
}

.fig {
 text-align: center;
 font-weight: bold;
 font-size: 14pt;
}
