.header {
  position:absolete;
  font-weight:bold;
  font-size: 11pt;
  background: #eee;
  border-style: solid;
  border-color: #ccc;
  border-width: 3pt 0 3pt 0;
  padding: 0.5em 2em;
  text-align: center;
}

.footer {
  font-weight:bold;
  font-size: 11pt;
  background: #eee;
  border-style: solid;
  border-color: #ccc;
  border-width: 3pt 0 3pt 0;
  padding: 0.5em 2em;
  text-align: center;
}

span.menu {
 padding:0.1em;
 border-style: none solid none solid;
 border-width: 2pt ;
 border-color: #ccc;
}

.outline {
  border-style: dashed;
  border-width: 1.5pt;
  border-color: #ccc;
  margin: 0% 8%;	
  padding: 0.5em;
  background-color: #f9f9f9;
}

body {
  color: #000;
  border-style: none;
  border-width: 1pt;
  border-color: #ccf;
  font-size: 14pt;
  margin: 5% 5%;
  background-color: white;
}

p {
  line-height: 1.5em;
  font-size: 14pt;
}

h1,h2,h3,h4,h5,h6{
	color: #0050B2;
	background-color: transparent;
	font-weight:bold;
	padding: 0.1em;
	margin: 1.2em 0.4em 0.4em 0.4em;
}

h1 {
  font-size: 25pt;
  margin: 1.2em 0.4em 0.4em 1.2em;
}

h2 {
	  color: #0050B2;
	  font-size: 20pt;
	  margin-top: 2em;
	  margin-bottom: 1em;
	  border-bottom:1px solid ;
	  padding-left:1em; 
	  border-left: 0.6em solid ;
	  padding-bottom:0.2em; 
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 12pt;
//  margin-top: 0.3em;
//  margin-bottom: 0.3em;
}

h5,h6{
   font-size: 10pt;
}

.logo_main {
  font-size: 25pt;
  margin-bottom: -0.5em;
}

.logo_sub {
 font-size: 14pt;
 font-weight: bold;
}

ul {
 line-height: 1.5em;
}

em {
 color: #CC0000;
 background-color: transparent;
 font-weight: bold;
 font-style: normal;
}

dt {
 padding: 0.0em 0.0em 0.0em 0.0em;
 margin: 0.1em 0.0em 0.1em 2em;
 text-indent: 0.0em;
 font-style:normal;
 font-weight:bold;
 font-size: 16pt;
}

dd {
 margin: 0.1em 0.0em 0.1em 3em;
}

table {
  border-width: 0pt;
}

hr {
 border-style: solid;
 border-width: 1pt;
 border-color: #0050B2;
 background-color: #0050B2;
}

pre {
  font-size: 12pt;
  line-height: 1.5em;
  border: 1px solid gray;
  padding: 5px;
  margin: 5%;	
  white-space: pre;
  background-color: #f9f9f9;
}

.banner {
  font-family:Arial,Helvetica,sans-serif;    
  font-size: 12pt;
  text-align: center;
}

.fig {
 text-align: center;
 font-weight: bold;
 font-size: 14pt;
}

img {
 border-style: none;
 border-width: 0pt;
 margin: 0 1em;
}

a {
 background-color: transparent;
}

a:link {
 color : #0050B2;
 text-decoration: none;	
 background-color: transparent;
}

a:visited {
 color : #70809a;
 text-decoration: none;	
 background-color: transparent;
}

a[href]:hover {
	color: #CC0000;
	text-decoration: underline;
	background-color: transparent;
}

a:clicked {
	color : #f00;
	background-color: transparent;
	border-style: dotted ;
	border-width: 1pt ;
	border-color: gray;
}

@media print {
	div.adminmenu{ display: none; }
	div.sidebar{ display: none; }
	div.main{
		background-color: #FFF;
		color: #000;
		margin:0.0em;
		padding:0.2em;
		border-style: none ;
		width:100%;
	}
	div.day{
		background-color: #FFF;
		color: #000;
		margin:1.0em 0.1em 0.1em 0.1em;
		padding:0.1em;
		border-style: none ;
	}
	body {
	 	font-size: 10pt;
	}
}
